/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Global attributes */
html,
body {
  min-height: 100%;
}

body {
  font-family: Lato, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: fit-content;
  padding-top: 1px;
  margin-top: -1px;
}

header {
  height: 5%;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  height: 100%;
  display: flex;
  align-items: center;
}

main {
  margin: 0% auto;
  width: 90%;
  max-height: 80%;
}

footer {
  height: 10%;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.blue-theme {
  background: linear-gradient(
    180deg,
    rgba(198, 217, 219, 0) 25%,
    #c6d9db 76.9%
  );
}

.container {
  height: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 100%;
  width: auto;
}

/* Login */
.login {
  background: linear-gradient(180deg, #c6d9db 53.65%, #f8b2ba 98.96%);
}

.login-logo {
  margin: 15% auto;
  display: block;
  width: 20vw;
  height: 20vw;
}

.login-container {
  margin: 0 auto;
  padding: 5%;
  background: #ffffff;
  box-shadow: 0px 6px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 70%;
  height: 50%;
}

.title {
  font-size: 30px;
  font-weight: 400;
  margin: 10% 0;
}

.login-details {
  height: 100%;
}

/* Createuser */
.createuser-logo {
  display: block;
  width: 15vw;
  height: 15vw;
  margin: 0 40% 0 0;
}

.createuser-container {
  margin: 0 auto;
  padding: 5%;
  background: #ffffff;
  box-shadow: 0px 6px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  max-height: 75%;
  width: 80%;
}

.link-style {
  margin: 5% 0;
}

.link-style a {
  font-size: 15px;
}

.form1 {
  height: 60%;
}

.input-box {
  height: 75px;
}

.input-box input {
  margin: 5% 0;
  padding: 3% 0;
  border: none;
  border-bottom: 1px solid black;
  font-size: 15px;
  width: 100%;
}

.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 5% 0;
}

.login-button input {
  border: none;
  border-radius: 100px;
  background-color: #ffe67b;
  width: 121px;
  height: 48px;
  font-weight: 600;
}
/* Theme settings for profile */
.theme-container {
  display: flex;
}

.theme-button {
  height: 10vw;
  width: 10vw;
  border-radius: 15%;
  margin-right: 1%;
}

/* Buttons for saving or cancelling setting changes */
#setting-buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0% auto 5% auto;
}

.setting-buttons-button {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  width: 45%;
  height: 35px;
}

.settinginput {
  border: none;
  background: transparent;
}

.settingplacecolor {
  display: none;
}

/* Profile image */
.profile-icon {
  width: 25vw;
}

.header-button {
  width: 8vw;
}

/* Create Card // admin */
#createcard-container {
  margin: 0 auto;
  height: 35%;
  width: 90%;
}

#createcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

#createcard h4 {
  text-align: center;
}

#createcard select {
  width: 80%;
  margin-bottom: 3%;
  border: 1px solid black;
  border-radius: 5px;
}

#createcard select,
option {
  height: 40px;
  padding: 10px;
}

#createcard select#category {
  margin-bottom: 6%;
}

#createcard input {
  border: none;
  border-radius: 5px;
  background: #ffe67b;
  width: 85%;
  height: 45px;
  margin-bottom: 5%;
  font-weight: 500;
}
/* Themes */
.blue {
  background: linear-gradient(180deg, #ffffff 0%, #c6d9db 100%);
}

.green {
  background: linear-gradient(180deg, #ffffff 0%, #dae889 100%);
}

.yellow {
  background: linear-gradient(180deg, #ffffff 0%, #ffe67b 100%);
}

.red {
  background: linear-gradient(180deg, #ffffff 0%, #f8b2ba 100%);
}

/* popup */
#popup {
  margin: 0 auto;
  padding: 3%;
  width: 80%;
  height: 15%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  display: none;
}

#popup h4 {
  text-align: center;
  font-weight: 400;
}

.popup-button {
  text-align: center;
  padding: 8px 0;
  width: 45%;
  border: none;
  border-radius: 6px;
}

.popup-button-container {
  width: 80%;
  justify-content: space-around;
  margin: 0 auto;
}

#popup-red {
  background: #ff0000;
  color: white;
}

#popup-green {
  background: #008000;
  color: white;
}

.header-flex {
  width: 20%;
  justify-content: space-between;
}

/* Highlight Tema //profile */
.colorhighlight {
  border: 1px solid black;
}
.displayNone {
  display: none;
}
table,
td {
  border: 1px solid black;
  padding: 0.2em;
}
.banner {
  width: 32%;
}

#firstBanner {
  display: none;
}
.banner {
  width: 100%;
  padding: 60px 0 60px 0;
}

/* Responsive for tablets */
@media only screen and (min-width: 576px) {
  .title {
    margin: 5% 0;
  }

  .input-box {
    height: 70px;
  }
  .createuser-container {
    width: 60%;
    max-height: 45%;
  }
  .createuser-logo {
    width: 10vw;
    height: 10vw;
    margin: 0 45% 0 0;
  }
  .login-logo {
    margin: 5% auto;
  }
  .login-container {
    width: 45%;
    max-height: 50%;
  }
}

/* Responsive for smaller laptops */
@media only screen and (min-width: 768px) {
  header {
    padding: 2% 5%;
  }
  .header-button {
    width: 4vw;
  }
  .header-flex {
    width: 12%;
  }
  .theme-button {
    height: 8vw;
    width: 8vw;
  }
  .login-container {
    width: 35%;
    max-height: 45%;
  }
  .createuser-container {
    width: 40%;
  }
  .profile-icon {
    width: 15vw;
  }
  #setting-buttons {
    width: 30%;
  }
  .login-logo {
    margin: 5% auto;
    width: 15vw;
    height: 15vw;
  }
}

/* Responsive for laptops */
@media only screen and (min-width: 992px) {
  .header-button {
    width: 3vw;
  }
  .header-flex {
    width: 8%;
  }
  .theme-button {
    height: 5vw;
    width: 5vw;
  }
  .login-container {
    width: 25%;
    max-height: 40%;
  }

  .createuser-container {
    width: 40%;
  }
  .createuser-logo {
    width: 5vw;
    height: 5vw;
    margin: 0 47% 0 0;
  }

  header {
    height: 5%;
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
/* Responsive for larger devices */
@media only screen and (min-width: 1200px) {
  .header-button {
    width: 3vw;
  }
}
